
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
   Home
      </ion-tab-button>
      <ion-tab-button tab="events">
        <ion-icon name="golf"></ion-icon>  
        Events
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

