<div class="page-content">
  <ion-content [fullscreen]="true">
    <ion-list-header>
      <ion-label><strong>My Favorite Events</strong></ion-label>
    </ion-list-header>

    <ion-segment [value]="selectedSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="going">
        <ion-label>I'm Going To</ion-label>
      </ion-segment-button>
      <ion-segment-button value="went">
        <ion-label>I went To</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- I'm Going To -->
    @if (selectedSegment === "going") {
      @for (event of upcomingEvents; track $index) {
        <ion-card (click)="goToCurrentEventPage(event.id)">
          <ion-card-header>
            <ion-card-title>{{ event.name }}</ion-card-title>
            <ion-card-subtitle>
              {{ event.date | date: "mediumDate" }} • {{ event.startTime }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{ event.description }}</p>
            <p><strong>Location:</strong> {{ event.location.address }}</p>
            @if (event.maxPeople) {
              <p>Max People: {{ event.maxPeople }}</p>
            }
          </ion-card-content>
        </ion-card>
      }
    }

    @if (selectedSegment === "went") {
      <div>
        @for (event of pastEvents; track $index) {
          <ion-card (click)="goToCurrentEventPage(event.id)">
            <ion-card-header>
              <ion-card-title>{{ event.name }}</ion-card-title>
              <ion-card-subtitle>
                {{ event.date | date: "mediumDate" }} • {{ event.startTime }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>{{ event.description }}</p>
              <p><strong>Location:</strong> {{ event.location.address }}</p>
              @if (event.requestCount) {
                <p>Requests: {{ event.requestCount }}</p>
              }
            </ion-card-content>
          </ion-card>
        }
      </div>
    }
  </ion-content>
</div>
