<div class="page-content">
  <ion-content [fullscreen]="true">
    <div class="header-container">
      <h4>Grounds</h4>
        <ion-button fill="outline"  size="large" (click)="createEvent.emit($event)">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>

 
        
    
    </div>
  <div class="header-menu">
    <div class="map-container">  <app-map></app-map></div>
  
    <app-search></app-search>
  </div>
   

 
    <app-playgrounds [listPlaygrounds]="listPlaygrounds"></app-playgrounds>
  </ion-content>
  </div>