.playground-item {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.playground-card-content {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 50px;
  height: 100%;
}

.info-left-section {
  display: flex;
  align-items: center;
}

.fav-icon-box,
.calendar-icon-box {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;

  height: 50%;
}

icon-icon {
  margin-left: 0;
}

.icon-heart {
  font-size: 1.8em;
  vertical-align: middle;
  color: var(--warn-color);

  &-outline {
    font-size: 1.8em;
    vertical-align: middle;
    color: var(--gray-light-color);
    cursor: pointer;
  }
}

.playground-photo {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  object-fit: cover;
  margin-right: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.playground-info {
  // flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playground-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2px;
}

.playground-address {
  color: #666;
  font-size: 0.98rem;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.playground-rating-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.rating-stars {
  display: flex;
  align-items: center;
}

.rating-value {
  margin-left: 8px;
  color: #888;
  font-size: 0.95em;
}

.green-card {
  // background-color: #e0f7e0; /* Light green background */
  border: 3px solid #a0d8a0; /* Optional: green border */
}
