<div class="page-content">
  <ion-content [fullscreen]="true"> 
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ ground?.name }}</ion-card-title>
        <ion-card-subtitle>{{ ground?.coverage }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Description:</strong> {{ ground?.description }}</p>
        <p><strong>Created At:</strong> {{ ground?.createdAt }}</p>
        <p><strong>Updated At:</strong> {{ ground?.updatedAt }}</p>
        <p><strong>Address:</strong> {{ ground?.location?.address }}</p>
        <p><strong>Latitude:</strong> {{ ground?.location?.lat }}</p>
        <p><strong>Longitude:</strong> {{ ground?.location?.lng }}</p>


        <ion-button expand="block" fill="outline" (click)="toggleFeedback()">
          {{ showFeedback ? 'Hide Feedback' : 'Show Feedback' }}
        </ion-button>


        <ng-container *ngIf="ground?.feedbacks && ground?.feedbacks?.length && showFeedback">
        <ion-list>
          <ion-item *ngFor="let feedback of ground?.feedbacks" class="chat-feedback-item">
            <ion-label>
              <div class="chat-bubble">
                <div class="stars">
                  <ng-container *ngFor="let star of [1,2,3,4,5]">
                    <ion-icon
                      [name]="star <= feedback.rating ? 'star' : 'star-outline'"
                      color="warning"
                      style="font-size: 1.2em; vertical-align: middle;">
                    </ion-icon>
                  </ng-container>
                </div>
                <div class="comment">
                  {{ feedback.comment }}
                </div>
                <div class="date">
                  <small>{{ feedback.createdAt | date:'short' }}</small>
                </div>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
        </ng-container>
      </ion-card-content>
    </ion-card>
  
    <!-- Map Section -->
    <div style="height: 300px; width: 100%; margin-top: 1rem;">
      <!-- <app-map [lat]="ground.location.lat" [lng]="ground.location.lng"></app-map> -->
    </div>
  </ion-content>
</div>