:root {
  --warn-color: #d72638;

  --primary-dark-bg-color: #465daa;
  --middle-bg-color: #acd7ef;
  --light-bg-color: #d1e9f6;
  --white-bg-color: #eff8fc;
  --dark-font-color: #3f3f3f;
  --light-font-color: #36a1dd;
  --gray-light-color: #888;
  --white-color: #e3e2de;
  --milk-color: #ffffff;

  --dark-bg-color: #1e293b;
}
